<p style="color: green"><%= notice %></p>

<%= render @product_type %>

<h3>
  <%= link_to "编辑类别", edit_product_type_path(@product_type) %>
</h3>

<h3>
  <%= link_to "返回类别列表", product_types_path %>
</h3>

<%= button_to "删除类别", @product_type, method: :delete, :id => "button-delete" %>
